@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&subset=cyrillic');

body{
    margin: 0; 
    color: white;
    background: black;
    font-family: 'Open Sans', sans-serif;
}
div{
    box-sizing: border-box; 
}
.page{
    max-width: 1400px;
    min-width: 960px;
    margin: auto;
}
.row:after{
    clear: both;
    content: '';
    display: block;   
}

#child1, #child2 {
    line-height: 50px;
}
.block1{
    text-align: center;
}

.col_2{
    width: 50%;
    float: left; 
    text-align: center;
}

.col_3{    
    width: 33.33333%;
    float: left;    
    text-align: center;
    padding: 5px;
}

.col_4{    
    width: 25%;
    float: left;
    text-align: center;
    padding: 5px;
}
.foto1{
    float: left;
    padding: 5px 5px 5px 0;
}

.foto2{
    float: right;
    padding: 5px 0 5px 5px;
}

.left_menu{
    width: 25%;
    float: left; 
    padding: 10px;   
}

.right_content{
    width: 75%;
    float: left;
    text-align: justify;
}

ul{
    list-style-type: square;
}

.col_2 >ul{
    list-style-type: none;
}

a{
    
    color: white;
}
.col_4 > a{
    text-decoration: none;
}
article, .links li{
    text-indent: 10px;
    font-size: 12px;
    margin-top: 10px;
}
.news{
    padding: 10px; 
}

.col_4_1{
    width: 25%;
    float: left;
    text-align: center;
}
.fon{
    background: black;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    opacity: 0.7;
}    
.parents{    
    position: relative;
    width: auto;
    height: auto;
}

.parents:hover .fon{
    display: none;
}

.new1, .new2, .new3, .new4 {
    background: #696969;    
    position: absolute;
    opacity: 1;
}    
.parents{    
    position: relative;
    width: auto;
    height: auto;
    box-sizing: border-box;
    margin: 20px;
}

.new1 {    
    transform: rotate(-30deg);
    top: -5px;
    left: -25px;
}

.new2 {    
    transform: rotate(30deg);
    top: -5px;
    right: -25px;
}

.new3 {    
    transform: rotate(30deg);
    bottom: -10px;
    left: -30px;
}

.new4 {    
    transform: rotate(-30deg);
    bottom: -10px;
    right: -30px;
}

button{
    background: red;
    color: white;
}

